kvmd:
  auth:
    expire: 14400
  msd:
    type: disabled
  atx:
    type: disabled
  hid:
    mouse:
      absolute: false
    mouse_alt:
      device: ""
{% if ansible_os_family != 'Archlinux' %}
  otg:
    manufacturer: Logitech
    product: Gaming Keyboard G Pro
    serial: 1337BEEFCAFE
    vendor_id: 0x046D
    product_id: 0xC33F
{% else %}
otg:
  manufacturer: "Dell Inc."
  product: "Dell U2723QE Hub"
  vendor_id: 0x413c
  product_id: 0x2113
  serial: "CN0123456789ABCDEF00"
  devices:
    hid:
      keyboard:
        start: true
      mouse:
        start: true
      mouse_alt:
        start: false
    msd:
      start: false
    ethernet:
      enabled: false
      start: false
    serial:
      enabled: false
      start: false
    audio:
      enabled: true
      start: true
      speakers:
        enabled: false
      mic:
        enabled: true
{% endif %}
