#!/bin/bash
echo "Welcome to {{ ansible_hostname }}!"
echo "Managed by AVM Automation."
echo "OS: {{ ansible_distribution }} {{ ansible_distribution_version }}"
echo "Architecture: {{ ansible_architecture }}"
                                                                                           
echo "        ______   __     __  __       __                      __       __  __            __ ";
echo "       /      \\ /  |   /  |/  \\     /  |                    /  \\     /  |/  |          /  |";
echo "      /\$\$\$\$\$\$  |\$\$ |   \$\$ |\$\$  \\   /\$\$ |                    \$\$  \\   /\$\$ |\$\$/  _______  \$\$/ ";
echo "      \$\$ |__\$\$ |\$\$ |   \$\$ |\$\$\$  \\ /\$\$\$ |       ______       \$\$\$  \\ /\$\$\$ |/  |/       \\ /  |";
echo "      \$\$    \$\$ |\$\$  \\ /\$\$/ \$\$\$\$  /\$\$\$\$ |      /      |      \$\$\$\$  /\$\$\$\$ |\$\$ |\$\$\$\$\$\$\$  |\$\$ |";
echo "      \$\$\$\$\$\$\$\$ | \$\$  /\$\$/  \$\$ \$\$ \$\$/\$\$ |      \$\$\$\$\$\$/       \$\$ \$\$ \$\$/\$\$ |\$\$ |\$\$ |  \$\$ |\$\$ |";
echo "      \$\$ |  \$\$ |  \$\$ \$\$/   \$\$ |\$\$\$/ \$\$ |                    \$\$ |\$\$\$/ \$\$ |\$\$ |\$\$ |  \$\$ |\$\$ |";
echo "      \$\$ |  \$\$ |   \$\$\$/    \$\$ | \$/  \$\$ |                    \$\$ | \$/  \$\$ |\$\$ |\$\$ |  \$\$ |\$\$ |";
echo "      \$\$/   \$\$/     \$/     \$\$/      \$\$/                     \$\$/      \$\$/ \$\$/ \$\$/   \$\$/ \$\$/ ";
echo "                                                                                           ";
echo "                                                                                           ";
echo "                                                                                           ";

exit 0
