Welcome to {{ ansible_hostname }}!
Managed by AVM Automation.
OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
Architecture: {{ ansible_architecture }}

        ______   __     __  __       __                      __       __                     
       /      \ /  |   /  |/  \     /  |                    /  \     /  |                    
      /$$$$$$  |$$ |   $$ |$$  \   /$$ |                    $$  \   /$$ |  ______   __    __ 
      $$ |__$$ |$$ |   $$ |$$$  \ /$$$ |       ______       $$$  \ /$$$ | /      \ /  \  /  |
      $$    $$ |$$  \ /$$/ $$$$  /$$$$ |      /      |      $$$$  /$$$$ | $$$$$$  |$$  \/$$/ 
      $$$$$$$$ | $$  /$$/  $$ $$ $$/$$ |      $$$$$$/       $$ $$ $$/$$ | /    $$ | $$  $$<  
      $$ |  $$ |  $$ $$/   $$ |$$$/ $$ |                    $$ |$$$/ $$ |/$$$$$$$ | /$$$$  \ 
      $$ |  $$ |   $$$/    $$ | $/  $$ |                    $$ | $/  $$ |$$    $$ |/$$/ $$  |
      $$/   $$/     $/     $$/      $$/                     $$/      $$/  $$$$$$$/ $$/   $$/ 
                                                                                             
                                                                                             
                                                                         