---
- name: Stop and disable Tailscaled
  ansible.builtin.systemd:
    name: tailscaled
    state: stopped
    enabled: no
  ignore_errors: true

- name: Remove Tailscale package (Debian)
  ansible.builtin.apt:
    name: tailscale
    state: absent
    purge: yes
  when: ansible_os_family == "Debian"

- name: Remove Tailscale repository (Debian)
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/tailscale.list
    state: absent
  when: ansible_os_family == "Debian"

- name: Remove Tailscale GPG key (Debian)
  ansible.builtin.file:
    path: /usr/share/keyrings/tailscale-archive-keyring.gpg
    state: absent
  when: ansible_os_family == "Debian"

- name: Remove Tailscale package (Arch)
  community.general.pacman:
    name: tailscale
    state: absent
  when: ansible_os_family == "Archlinux"

- name: Remove sysctl configuration
  ansible.builtin.file:
    path: /etc/sysctl.d/99-tailscale.conf
    state: absent
