---
- name: Remove cache if it exists
  ansible.builtin.file:
    path: "{{ common_info_cache_file }}"
    state: absent

- name: Template script to /usr/local/bin
  template:
    src: "generate_info.sh.j2"
    dest: "/usr/local/bin/generate_info.sh"
    mode: '0755'

- name: Setup cron job to run every 5 minutes
  cron:
    name: "Run automation script"
    minute: "*/5"
    job: "/usr/local/bin/generate_info.sh"

- name: Auto-update repository every 10 minutes
  cron:
    name: "Auto-pull git updates"
    minute: "*/10"
    job: "cd /opt/automation/ && ./bootstrap.sh --pull"
